<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SaLiC Error</title>
</head>
<body>

<div>
    <h1>I'm sorry, but I encountered a internal server error :/</h1>

    If you are not the Webmaster,<br>
    <a href="/" style="font-size: 1.5em;"> &gt; return to the homepage &lt;</a>. <br>
    Please come back later.

    <br><br><br>
    <br><br><br>
    <br><br><br>
    <hr>

    <h3>Webmaster info:</h3>

    <b>Message</b>: {{ exception.getMessage() }} <br>
    <b>Happened during</b>: {{ during }}<br>

    <b>Exception</b>: {{ exception|get_class }} <br>
    {% if exception is SettingsException %}
        <b>FileInfo</b>: {{ exception.fileInfo|var_export }} <br>
    {% endif %}

    <br>
    <b>Trace:</b>
    <pre>{{ exception.getTraceAsString() }}</pre>

    {% if exception is SettingsException %}
        <br>
        <b>Data:</b>
        <pre>{{ exception.data|var_export }}</pre>
    {% endif %}
</div>
</body>
</html>